<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-facebook  "></i>
            <i class="fa-brands fa-instagram  "></i>
            <i class="fa-brands fa-linkedin  "></i>
        </div> 
        <div class="f-info-brand" style="font-size: 0.9rem; font-weight: 600;"> &copy;WanderLust Private Limited</div>
        <div class="f-info-link">
            <a href="/privacy" style="font-size: 0.6rem; margin-right: 0.5rem;">Privacy</a>
            <a href="/tearms" style="font-size: 0.6rem;"> Tearms</a>
        </div>
    </div> 
</footer>